<html>
	<head>
		<!-- css and js libraries go here -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="/stylesheets/about.css"/>
		<title>NFT Home</title>
	</head>
	<body>
		<!-- code to show the navbar goes here -->
		<header>
			<h1 class="logo">NFT SEASONS</h1>
			<ul class="nav">
				<li class="navlink"><a href="/">Home</a></li>
				<li class="navlink"><a href="/about">About</a></li>
				<li class="navlink"><a href="/basket">Cart</a></li>
				<li class="navlink"><a href="/contact">Contact</a></li>
				<li class="navlink"><a href="/login" id="auth-link">Logout</a></li>
				<!--<li class="navlink"><a href="/register">Register</a></li>-->
			</ul>
			<div class="burger">
				<i class="fas fa-bars"></i>
			</div>
		</header>
		<script src="javascripts/main.js"></script>
        <h1>We are glad you want to know more about us!</h1>
        <p>In this video we explain what NFTs are and why they have value</p>
	</body>
    <div class="iframe-container">
        <center><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Oz9zw7-_vhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </div>
</html>
<%- include('footer') -%>